
<li>
	{{name}}

	<button class="change-vegetarian" data-id="{{id}}" data-newvegetarian="{{vegetarian}}">
		{{#if vegetarian}}TACOS{{else}}VEGETARIAN{{/if}}
	</button>

	<button class="delete-taco" data-id="{{this.id}}">DELETE!</button>
</li>